*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{}

.navbar{
    width: 100%;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e22ba5;
}
.navbar nav{
    display: flex;
    gap: 26px;
    align-items: center;
}
.navbar nav ul{
    display: flex;
    gap: 16px;
}
.navbar a{
    color: white;
}

button{
    padding: 10px 26px;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.container{
    width: 100%;
    display: flex;
    gap: 16px;
    background-color: #DEDEDE;
    padding: 60px;
}

.box{
    width: calc(100% / 4);
    height: 100px;
    background-color: white;
    border-radius: 6px;
}

@media only screen and ( max-width: 1024px ){
    body{
        background-color: aqua;
    }
}

@media only screen and ( max-width: 768px ){
    body{
        background-color: blueviolet;
    }
    .container{
        flex-wrap: wrap;
    }
    .box{
        width: calc(50% - 8px);
    }
}

@media only screen and ( max-width: 600px ){
    body{
        background-color: #e22ba5;
    }
    .navbar{
        padding: 10px 16px;
    }
    .navbar nav ul{
        width: 100%;
        height: 100%;
        background-color: #00000070;
        position: fixed;
        top: 0;
        left: -100%;
        flex-direction: column;
        gap: 0;
        transition: all 300ms ease;
        opacity: 0;
        visibility: hidden;
    }
    .navbar nav ul.active{
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    .navbar nav ul li{
        width: 70%;
        background-color: white;
    }
    .navbar a{
        color: black;
        display: block;
        line-height: 40px;
        padding-left: 16px;
    }
    .container{
        padding: 16px;
    }
    .box{
        width: 100%;
    }
}

@media only print and ( max-width: 600px ) {
    body{
        background-color: none;
    }
    .navbar{
        display: none;
    }
}